 .table {
     .menu {
         white-space: nowrap;
     }
 }

 .page-admin-login {
     align-items: center;
     background-color: $grey;
     display: flex;
     height: 100%;
     justify-content: center;

     .login-wrapper {
         background-color: white;
         border: 1px solid $grey;
         border-radius: $re;
         height: auto;
         margin: auto;
         max-width: 500px;
         padding: $bi;
     }
 }

 .table-wrapper {
     max-height: 300px;
     overflow-y: auto;
 }

 .thumbnail-table {
     text-align: left;
 }

 .modal-content,
 .page-admin-image,
 .page-admin-blog {
     .table {
         img {
             height: 50px;
             width: auto;
         }
     }
 }

 .user {
     padding: $re;
     text-align: right;
 }